@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <style>
        .jumbotron {
            background-color: #f36a09;
            color: #fff;
            padding: 100px 25px;
        }
            .jumbotron p {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 200;
                background-color: #f36a09;
                color: white
            }

            .jumbotron .h1, .jumbotron h1 {
                font-size: 35px;
            }

        .container-fluid {
            padding: 60px 50px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .logo-small {
            color: #f4511e;
            font-size: 50px;
        }

        .logo {
            color: #f4511e;
            font-size: 200px;
        }

        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
        }
    </style>
    
</head>
<body>
    

    <div class="jumbotron text-center">
        <h1>ABOUT US</h1><br />
        <p>
            Welcome to Exposure's global platform. Our core philosophy is connecting workers with their potential employers.

            Our Mission is to help all Casual workers connect for commerce and collaboration.

            Exposure is a free platform which offers registered members a rich communication experience,
            integrated with jobs, eCommerce and community promotions.

            Start with messaging and grow to experience the rich features including the ability to create individual profiles to showcase who you are and what you have to offer.

            Exposures technology will ensure that only fresh, active and current data is delivered daily. We welcome your ongoing feedback which will enable us to always deliver the best application for you.

            We thank you for your support and trust that you will enjoy using our app.
        </p>

    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Our mission is to connect casual workers with their potential employers to break the cycle of unemployment. </h4>
                <p><strong>VISION:</strong> Our vision is to see Exposure being used in every city in South Africa and in time expand beyond the boundaries of the country.</p>
            </div>
        </div>
    </div>

    <!-- Container (Services Section) -->
    <div class="container-fluid text-center">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-usd logo-small"></span>
                <h4>JOB CREATION</h4>
                <p>We open job opportuities for casual workers</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo-small"></span>
                <h4>LOVE</h4>
                <p>The Exposure community promotes love and respect to be shown amongst both workers and employers</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo-small"></span>
                <h4>JOB DONE</h4>
                <p>All workers to do their jobs to the best of their ability</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-star logo-small"></span>
                <h4>RESPECT</h4>
                <p>All workers and employers are equaly treated</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate logo-small"></span>
                <h4>CERTIFIED</h4>
                <p>All casual workers will are verified</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench logo-small"></span>
                <h4 style="color:#303030;">HARD WORK</h4>
                <p>Hard workers will be rewarded with greater opportunities</p>
            </div>
        </div>
    </div>

</body>
</html>
