<style>
    dl.faq button {
        margin: 0;
        padding: 0;
        margin-top: 1em;
        border: thin solid transparent;
        
        padding-left: 0.125em;
    }

    dl dd {
        margin: 0;
        padding: 0;
        margin-left: 1.5em;
        color: black;
    }

    dl.faq .desc {
        margin: 0;
        padding: 0.5em;
        font-size: 110%;
        display: none;
        background-color: #f1d7c5;
    }

    dl.faq button:hover,
    dl.faq button:focus {
        background-color: #bbb;
    }

    dl.faq button:focus {
        border-color: gray;
    }

    dl.faq button:hover {
        text-decoration: underline;
    }

    dl.faq button:active {
        background-color: #bbb;
    }

    dl.faq button[aria-expanded="false"]:before {
        content: url('../images/right-arrow-brown.png');
        padding-right: 0.35em;
    }

    dl.faq button[aria-expanded="true"]:before {
        content: url('../images/down-arrow-brown.png');
        padding-right: 0.35em;
    }
</style>
<script>

var ButtonExpand = function (domNode) {

  this.domNode = domNode;

  this.keyCode = Object.freeze({
    'RETURN': 13
  });
};

ButtonExpand.prototype.init = function () {

  this.controlledNode = false;

  var id = this.domNode.getAttribute('aria-controls');

  if (id) {
    this.controlledNode = document.getElementById(id);
  }

  this.domNode.setAttribute('aria-expanded', 'false');
  this.hideContent();

  this.domNode.addEventListener('keydown',    this.handleKeydown.bind(this));
  this.domNode.addEventListener('click',      this.handleClick.bind(this));
  this.domNode.addEventListener('focus',      this.handleFocus.bind(this));
  this.domNode.addEventListener('blur',       this.handleBlur.bind(this));

};

ButtonExpand.prototype.showContent = function () {

  if (this.controlledNode) {
    this.controlledNode.style.display = 'block';
  }

};

ButtonExpand.prototype.hideContent = function () {

  if (this.controlledNode) {
    this.controlledNode.style.display = 'none';
  }

};

ButtonExpand.prototype.toggleExpand = function () {

  if (this.domNode.getAttribute('aria-expanded') === 'true') {
    this.domNode.setAttribute('aria-expanded', 'false');
    this.hideContent();
  }
  else {
    this.domNode.setAttribute('aria-expanded', 'true');
    this.showContent();
  }

};

/* EVENT HANDLERS */

ButtonExpand.prototype.handleKeydown = function (event) {

  console.log('[keydown]');

  switch (event.keyCode) {

    case this.keyCode.RETURN:

      this.toggleExpand();

      event.stopPropagation();
      event.preventDefault();
      break;

    default:
      break;
  }

};

ButtonExpand.prototype.handleClick = function (event) {
  this.toggleExpand();
};

ButtonExpand.prototype.handleFocus = function (event) {
  this.domNode.classList.add('focus');
};

ButtonExpand.prototype.handleBlur = function (event) {
  this.domNode.classList.remove('focus');
};

/* Initialize Hide/Show Buttons */

window.addEventListener('load', function (event) {

  var buttons =  document.querySelectorAll('button[aria-expanded][aria-controls]');

  for (var i = 0; i < buttons.length; i++) {
    var be = new ButtonExpand(buttons[i]);
    be.init();
  }

}, false);
</script>
<div class="row">
    <div class="col-md-8">
        <div class="alert-success text-center"><p style="font-size:xx-large">Frequently Asked Questions</p></div>
        <br />
        <dl class="faq">
            <dt>                
                    YOUR QUESTIONS ARE ANSWERED BELOW                
            </dt>
            <dt>
                <button aria-expanded="false" aria-controls="faq2_desc">
                    HOW TO REGISTER
                </button>
            </dt>
            <dd>
                <p id="faq2_desc" class="desc">
                    All fields on registration are to be entered. A profile picture is not neccessary but we do advice users to add one. Blocked or suspended users
                    may not register again.

                </p>
            </dd>

            <dt>
                <button aria-expanded="false" aria-controls="faq3_desc">
                    WHAT QUALITIES DO YOU LOOK FOR IN A CANDIDATE?
                </button>
            </dt>
            <dd>
                <p id="faq3_desc" class="desc">
                    We look for a range of technical skills and qualifications plus great initiative, communication and teamworking skills, and the ability to inspire others.

                </p>
            </dd>
            <dt>
                <button aria-expanded="false" aria-controls="faq4_desc">
                    WHO CAN I CONTACT IF I'M HAVING PROBLEMS?
                </button>
            </dt>
            <dd>
                <p id="faq4_desc" class="desc">

                    If you are having technical difficulty, please contact us and let us know what technical issues you are having – we will do our best to help.
                    Email: <a>help@exposure.com</a>
                    Please note - we do not accept job applications via this email address.
                    <q>
                      
                    </q>
                  

                </p>
            </dd>
            <dt>
                <button aria-expanded="false" aria-controls="faq5_desc">
                    IS IT POSSIBLE TO DEACTIVATE YOUR ACCOUNT?
                </button>
            </dt>
            <dd>
                <p id="faq5_desc" class="desc">

                    YES. You may deactivate your account your profile anytime. When wanting to reactivate the account please contact or email your nearest admin.
                    <br /> Contact: 043 502 4558 <br />
                    Email: <a>admin@exposure.com</a>

                </p>
            </dd>
            <dt>
                <button aria-expanded="false" aria-controls="faq6_desc">
                    IS A USER ALLOWED TO APPLY FOR A JOB FOR SOMEONE ELSE USING THEIR OWN ACCOUNT?
                </button>
            </dt>
            <dd>
                <p id="faq6_desc" class="desc">
                    NO, This is not allowed as it affects the safety of using this app. Any user that wishes to apply for a job must register and apply using their own account.
                    This is to make sure that we have identification of each user in the EXPOSURE community.<br />
                    WARNING: Any user that breaks this rule will be suspended from using the app.
                </p>
            </dd>
            <dt>
                <button aria-expanded="false" aria-controls="faq7_desc">
                    WHAT TO DO IF YOUR ACCOUNT HAS BEEN HACKED?
                </button>
            </dt>
            <dd>
                <p id="faq7_desc" class="desc">
                    Contact your nearest administrator and ask for your account to be deactivated immediately then follow the procedures given to you by the admin in order to block
                    the hacked account and get a new one.<br /> Contact: 041-487 5478 <br />
                    Email: <a>admin@exposure.com</a>
                </p>
            </dd>
        </dl>
    </div><br/>
    <div class="col-md-4"><img src="~/images/FAQ.jfif" alt="FAQ" width="300" height="300"></div>
</div>