@model  Exposure.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<h2>EditProfile</h2>

@using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit Profile</h4>
    <hr/>
    @Html.ValidationSummary("", new { @class="text-danger"})
    <div class="row">
        <div class="form-group"></div>

    </div>
}